body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #9b9595;
}

td {
    background-color: #ffffff;
}

th.centralizado, td.centralizado {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 150px;
}

button:hover {
    background-color: #45a049;    
}

/* Estilos para o botão Editar */
button.editar {
    background-color: #FFA500; /* Laranja */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button.editar:hover {
    background-color: #FF8C00; /* Laranja Escuro */
}

/* Estilos para o botão Excluir */
button.excluir {
    background-color: #FF0000; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button.excluir:hover {
    background-color: #DC143C; /* Vermelho Escuro */
}

button.cadastrar {
    background-color: #4CAF50; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 110px;
}

button.voltar {
    background-color: #6b853b; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 100px;
}

button.salvar {
    background-color: #4CAF50; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 110px;
}

form {
    display: inline;
}

input[type="text"], input[type="email"], input[type="date"] {
    width: 200px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
} 

/* Estilo para o modal de confirmação */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback */
    background-color: rgba(0,0,0,0.4); /* Preto com opacidade */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Largura do modal */
    text-align: center;
    border-radius: 10px;
}

#confirmar {
    background-color: #FF0000; /* Vermelho */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#cancelar {
    background-color: #ccc; /* Cinza */
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#confirmar:hover {
    background-color: #DC143C; /* Vermelho Escuro */
}

#cancelar:hover {
    background-color: #bbb; /* Cinza mais escuro */
}

#searchInput {
    width: 710px;
}