body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #9b9595;
}

td {
    background-color: #ffffff;
}

th.centralizado,
td.centralizado {
    text-align: center;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 150px;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para o botão Editar */
button.editar {
    background-color: #ffa500; /* Laranja */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button.editar:hover {
    background-color: #ff8c00; /* Laranja Escuro */
}

/* Estilos para o botão Excluir */
button.excluir {
    background-color: #ff0000; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button.excluir:hover {
    background-color: #dc143c; /* Vermelho Escuro */
}

button.cadastrar {
    background-color: #4caf50; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 110px;
}

button.voltar {
    background-color: #6b853b; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 100px;
}

button.salvar {
    background-color: #4caf50; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 110px;
}

form {
    display: inline;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
    width: 200px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}

/* Estilo para o modal de confirmação */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback */
    background-color: rgba(0, 0, 0, 0.4); /* Preto com opacidade */
}

.modal-conteudo {
    background-color: #fefefe;
    align-items: center;
    justify-content: center;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Largura do modal */
    height: 160px;
    text-align: center;
    border-radius: 10px;
}

#confirmar {
    background-color: #ff0000; /* Vermelho */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#cancelar {
    background-color: #ccc; /* Cinza */
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#confirmar:hover {
    background-color: #dc143c; /* Vermelho Escuro */
}

#cancelar:hover {
    background-color: #bbb; /* Cinza mais escuro */
}

#searchInput {
    width: 710px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    display: flex;
    flex-direction: column;
}
footer div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
footer a {
    width: 140px;
    height: 30px;
    border-radius: 10px;
    background-color: #c4c3c7;
    text-decoration: none;
    text-align: center;
    align-content: center;
}
footer a:hover {
    background-color: #98a945;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header a {
    margin: 20px;
}

.funcoesPrincipais {
    display: flex;
    flex-direction: column;
}

.funcoesPrincipais a {
    width: 120px;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.paginacao {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.numero-pagina {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.numero-pagina.ativo {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}
